@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-home {
  background-image: url("/home.webp");
}

.bg-entre-libro {
  background-image: url("/entre-libro.webp");
}

.bg-entre-libro-text {
  background-image: url("/entre-libro/6.2.webp");
}

.bg-multi-espacio {
  background-image: url("/multi-espacio.webp");
}

/* General /*


/* Loader.css */

/* Estilo del contenedor del loader */
.loader {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: rgba(24, 69, 91, 0.8); /* Color de fondo oscuro con opacidad */
}

/* Estilo para el texto con animación de color */
.text {
  font-size: 1.5rem; /* Tamaño del texto */
  text-align: center; /* Centra el texto */
  animation: colorChange 5s linear infinite; /* Animación de cambio de color */
}

/* Definición de la animación de cambio de color */
@keyframes colorChange {
  0% { color: #B3CFF2; }      /* customBlue1 */
  20% { color: #B3CFF2; }     /* customBlue2 */
  40% { color: #2173A6; }     /* customBlue3 */
  60% { color: #18455B; }     /* customBlue4 */
  80% { color: #5BA9D9; }     /* customBlue5 */
  100% { color: #B3CFF2; }    /* customBlue1 */
}


